In [1]:
from configparser import ConfigParser
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pykalman import KalmanFilter
config = ConfigParser()
config.read("config.ini", 'UTF-8')
BTC_PATH = config.get("default", "PATH")

def data_prep():
    df = pd.read_pickle(BTC_PATH)

    # 対数収益率に変換
    df['return'] = df['cl']/df['cl'].shift(1)-1

    # 欠損値処理
    df.ffill(inplace=True)
    df.bfill(inplace=True)
    return df

In [2]:
df = data_prep()

In [3]:
df

,op,hi,lo,cl,volume,return
timestamp,,,,,,
2021-01-12 07:00:00+00:00,36060.5,36060.5,35807.9,35815.6,10.423,-0.002613
2021-01-12 07:05:00+00:00,35815.5,35939.5,35717.3,35722.0,9.339,-0.002613
2021-01-12 07:10:00+00:00,35715.6,35849.5,35715.6,35723.4,3.884,0.000039
2021-01-12 07:15:00+00:00,35735.1,35735.1,35720.0,35727.6,1.684,0.000118
2021-01-12 07:20:00+00:00,35727.2,35850.0,35714.0,35831.6,3.474,0.002911
...,...,...,...,...,...,...
2023-06-07 00:25:00+00:00,27220.0,27255.2,27204.4,27214.1,99.684,-0.000217
2023-06-07 00:30:00+00:00,27214.0,27218.0,27195.2,27216.8,69.892,0.000099
2023-06-07 00:35:00+00:00,27216.9,27291.7,27216.9,27254.0,190.358,0.001367
2023-06-07 00:40:00+00:00,27253.9,27331.2,27253.9,27319.5,173.789,0.002403
2023-06-07 00:45:00+00:00,27319.5,27396.0,27253.5,27253.5,578.417,-0.002416